<section class="services-carousel-section py-4">
  <div class="panels-wrapper" #panelsWrapper>
    <div #panel class="panel d-flex flex-column justify-content-center align-items-center">
      <h2 class="h2 fw-bold text-center text-white mb-4">À chaque besoin, son expertise</h2>
      <h3 class="text-center">Continuez de scroll pour voir mes services :D</h3>
    </div>
    @for (service of services(); track service.title) {
      <div #panel class="panel d-flex flex-column justify-content-center align-items-center">
        <div class="card p-4">
          <div class="d-flex align-items-center mb-3 w-100">
            <i [class]="service.icon + ' fs-2 me-2 text-primary'" aria-hidden="true"></i>
            <h3 class="h4 fw-bold mb-0 text-dark">{{ service.title }}</h3>
          </div>
          <div class="mb-2 text-dark" [innerHTML]="service.desc"></div>
          <ul class="service-details list-unstyled mb-3">
            @for (point of service.points ?? []; track point) {
              <li class="mb-1">• {{ point }}</li>
            }
          </ul>
          <img [src]="service.img" alt="Service Image" class="service-image">
          <button class="btn btn-orange w-100 mt-auto text-white">Demander un devis</button>
        </div>
      </div>
    }
  </div>
</section>
