<app-header></app-header>
<main>
  <router-outlet @fade></router-outlet>
</main>
<app-footer></app-footer>

<button *ngIf="showScrollTop" (click)="scrollToTop()" class="btn btn-primary rounded-circle shadow position-fixed" style="bottom: 2rem; right: 2rem; z-index: 1050; width: 48px; height: 48px;">
  <span class="visually-hidden">Retour en haut</span>
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24"><path d="M12 4l-8 8h6v8h4v-8h6z"/></svg>
</button>
